/** @format */

body,
html {
  font-family: $lato;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: #fff;
  background: #000;
}
.main {
  background-color: #fff;
}
